@import 'meyer-reset.css';

/* SETTINGS */
html {
    --color: #3382F6;
    --black: #333;
    --white: #efefef;
    --dark: #1F2937;
    --light: lighterblue;
    --gray: #E5E7EB;
}

/* SETUP */
* {
  box-sizing: border-box;
}
picture {
    display: block;
}
img {
    display: block;
    width: 100%;
    height: auto;
}
a {
    display: block;
    color: inherit;
    text-decoration: none;
}
p a, li a {
    display: inline-block;
    color: var(--color);
    text-decoration: underline;
}

/*DEV STYLES*/
header, footer, main {
    border: 4px solid red;
}
section {
    border: 4px solid lime;
}

/* STRUCTURE */
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
main {
    flex-grow: 1;
}
inner-column {
    display: block;
    padding: 10px;
    width: 98%;
    max-width: 1100px;
    margin-right: auto;
    margin-left: auto;
    padding-top: 5vh;
    padding-bottom: 5vh;
}
header inner-column {
    padding: 10px;
}

/* TYPOGRAPHY */
.loud-voice {
    font-family: sans-serif;
    font-size: 32px;
    font-weight: 700;
    line-height: .9;
}
@media (min-width: 700px) {
    .loud-voice {
        font-size: 40px;
    }
}
.calm-voice {
    font-family: sans-serif;
    font-size: 1rem;
    line-height: 1.3;
}
.quote-voice {
    font-family: sans-serif;
    font-style: italic;
    font-size: 36px;
    font-color: var(--dark);
    font-weight: 50;
    text-align: justify;
}
.quote-author {
   font-family: sans-serif;
   font-style: italic;
   font-size: 18px;
   font-color: var(--dark);
   font-weight: bold;
   margin-top: 3vh;
   text-align: right;
}

/* COMPONENTS */
.button {
    font-family: sans-serif;
    display: inline-block;
    background-color: var(--color);
    color: white;
    font-size: 1.2rem;
    padding: 0.6em 1em;
    border-radius: 6px;
}

.product-image img{
   border-radius: 6px;
}

product-card {
    display: block;
}



/* MODULES */
graphic-diptych {
    display: block;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

graphic-diptych picture {
}

graphic-diptych text-content {
    display: block;
}

graphic-diptych text-content p {
    margin-top: 10px;
}

graphic-diptych text-content .button {
    margin-top: 10px;
}

@media (min-width: 700px) {
   graphic-diptych {
        flex-direction: row-reverse;
   }
   graphic-diptych :is(text-content, picture) {
        flex-basis: 50%;
   }
}

.welcome {
    background-color: var(--dark);
    color: var(--white);
}

products-grid {
    display: block;
}

products-grid h2, h3 {
    text-align: center;
    padding-bottom: 2vh;
    margin-top: 1vh;
}

products-grid .product-list{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
    grid-gap: 1em;
}

.quote-section {
    background-color: var(--gray);
    color: var(--dark);
}

quote {
    padding: 2.5vh;
    display: block;
    display: flex;
    flex-direction: column;
    min-height: 300px;
    justify-content: center;
}

.action {
    background-color: var(--white);
    color: var(--dark);
}

graphic-diptych-two {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

graphic-diptych-two text-content {
    display: block;
}


graphic-diptych-two text-content{
    text-align: center;
}