body {
  margin: 0;
  padding: 0;
}

.nav-bar{
  height: 70px;
  padding: 16px;
  background: #1F2937;
  display: flex;
  flex-grow: 1;
  justify-content: space-around;
  gap: 8px;
}

.nav-item{
    color: white;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    opacity: 0.9;
    background: #7DC8A0;
    align-items: center;
    padding: 5px;
    border-radius: 10px;
    overflow: hidden;
    vertical-align: middle;
}

.nav-item a{
    line-height: 60px;
}

.bakery-container{
  height: 200px;
  padding: 16px;
  background: #1F2937;
  display: flex;
  justify-content: space-between;
}

.first{
    color: white;
    background: #7DC8A0;
    padding: 5px;
    border-radius: 10px;
    overflow: hidden;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
}

.second{
    padding: 5px;
    overflow: hidden;
}

.examples-container{
  height: 20px;
  padding: 16px;
  background: white;
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 20px;
}

.section-header{
    font-size: 24px;
    font-weight: bold;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    color: black;
}

.image-container{
  padding: 16px;
  background: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 8px;
  color: blacks;
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  opacity: 0.9;
}

.img-item{
    align-items: center;
    vertical-align: middle;
    flex-grow: 0;
    flex-shrink: 0;
    text-align: center;
}

.quotation{
    height: 240px;
    padding: 16px;
    background: #E5E7EB;
    gap: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.quotation p{
    flex: 0 0 120px;
    text-color: #1F2937;
    text-size; 36px;
}

.signup-section{
    height: 180px;
    padding: 16px;
    background: plum;
    gap: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
}